<div class="app-btn-group">
    <button class="app-btn" role="button" (click)="onClickGetFileInfo()">Get File Info</button>
    <button class="app-btn" role="button" (click)="onClickScapeDirectory()">Scape Directory</button>
    <button class="app-btn" role="button" (click)="onClickScrapeHTML()">Scrape HTML</button>
    <button class="app-btn" role="button" (click)="onClickRecursiveMediaScraper()">Recursive Media Scraper</button>
    <button class="app-btn" role="button" (click)="onClickAddComponents()">Add Components</button>
    <button class="app-btn" role="button" (click)="onClickGetGoolgDriveAuthorisation()">Get Google Drive Authorisation</button>
</div>
<div *ngIf="showContentWrapper" id="contentWrapper">
    <textarea id="contentText" [(ngModel)]="contentText" readonly></textarea>
</div>

<!-- <div class="app-grid">
    <div class="app-grid-element" *ngFor="let label of labels">{{ label }}</div>
</div>

<ng-template anchor></ng-template> -->

<div *ngIf="showGrid" class="app-grid">
    <app-ad-insert *ngFor="let label of labels; let idx = index" [index]="idx"></app-ad-insert>
</div>

<div *ngIf="showModelInfoGrid" class="app-model-info-grid">
    <app-model-info *ngFor="let modelInfo of modelInfoSet; let idx = index" [modelInfo]="modelInfo"></app-model-info>
</div>

<div *ngIf="showEditableWrapper" id="editableWrapper">
    <textarea id="editableText" [(ngModel)]="editableText"></textarea>
    <div class="app-editable-btn-group">
        <button class="app-btn" role="button" (click)="fetchAppFile()">Fetch App File</button>
        <button *ngIf="appJsonFileId !== undefined" class="app-btn" role="button" (click)="onClickPostFile()">Post File</button>
    </div>
</div>
